<main class="container">
  <div class="p-3 mb-4 text-white rounded bg-dark">
    <div class="px-0">
      <span class="display-2">Cliente</span>
    </div>
  </div>
  <section class="row mb-2" [hidden]="mostrarEditar">
    <article class="col-md-6 col-lg-4" *ngFor="let cliente of clientes">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Persona {{cliente.tipo_de_persona}}</strong>
          <h3 class="mb-0">{{cliente.nombre_de_persona|titlecase}}</h3>
          <div class="mb-1 text-muted">{{cliente.correo}}</div>
          <div class="mb-1 text-muted">{{cliente.tipo_de_documento|uppercase}}: {{cliente.numero_de_documento}}</div>
          <p class="card-text mb-auto" style="text-align: justify;">
            Persona {{cliente.tipo_de_persona}} ubicada en {{cliente.direccion|titlecase}} en la localidad de
            {{cliente.localidad|titlecase}}.</p>
          <a (click)="editar(cliente._id)" class="mt-2 btn btn-success">
            <mat-icon>edit</mat-icon>
          </a>
        </div>
      </div>
    </article>
  </section>
  <section class="row mb-2" [hidden]="!mostrarEditar">
    <h2 class="text-center">Formulario de datos</h2>
    <form #clienteForm="ngForm" class="col-12">
      <div [hidden]="clienteForm.submitted">
        <div class="row g-0">
          <!-- nombre de cliente -->
          <div class="form-group col p-3">
            <label for="nombre_de_persona" class="mb-0">Nombre:</label>
            <input type="text" id="nombre_de_persona" name="nombre_de_persona" class="form-control" required
              minlength="4" [(ngModel)]="cliente.nombre_de_persona" #nombre_de_persona="ngModel">
            <div *ngIf="nombre_de_persona.invalid && (nombre_de_persona.dirty || nombre_de_persona.touched)"
              class="text-danger">
              <div *ngIf="nombre_de_persona.errors?.['required']">
                nombre es requerido
              </div>
              <div *ngIf="nombre_de_persona.errors?.['minlength']">
                nombre deberia tener mas de 4 caracteres
              </div>
            </div>
          </div>
          <!-- tipo de persona -->
          <div class="form-group col p-3">
            <label for="tipo_de_persona" class="mb-0">Tipo de persona:</label>
            <select id="tipo_de_persona" name="tipo_de_persona" required [(ngModel)]="cliente.tipo_de_persona"
              class="form-control" #tipo_de_persona="ngModel" required>
              <option *ngFor="let p of tipo_persona" [value]="p">{{p}}</option>
            </select>
            <div *ngIf="tipo_de_persona.errors && tipo_de_persona.touched" class="text-danger">
              <div *ngIf="tipo_de_persona.errors['required']">tipo de cliente es requerido.</div>
            </div>
          </div>
        </div>
        <div class="row g-0">
          <!-- tipo de documento -->
          <div class="form-group col p-3">
            <label for="tipo_de_documento" class="mb-0">Tipo de documento:</label>
            <select id="tipo_de_documento" name="tipo_de_documento" required [(ngModel)]="cliente.tipo_de_documento"
              class="form-control" #tipo_de_documento="ngModel" required>
              <option *ngFor="let p of tipo_documento" [value]="p">{{p}}</option>
            </select>
            <div *ngIf="tipo_de_documento.errors && tipo_de_documento.touched" class="text-danger">
              <div *ngIf="tipo_de_documento.errors['required']">tipo de documento es requerido.</div>
            </div>
          </div>
          <!-- numero de documento -->
          <div class="form-group col p-3">
            <label for="numero_de_documento" class="mb-0">Numero de documento:</label>
            <input type="number" id="numero_de_documento" name="numero_de_documento" class="form-control" required
              minlength="7" [(ngModel)]="cliente.numero_de_documento" #numero_de_documento="ngModel">
            <div *ngIf="numero_de_documento.invalid && (numero_de_documento.dirty || numero_de_documento.touched)"
              class="text-danger">
              <div *ngIf="numero_de_documento.errors?.['required']">
                numero de doc es requerido
              </div>
              <div *ngIf="numero_de_documento.errors?.['minlength']">
                numero de doc deberia tener mas de 7 caracteres
              </div>
            </div>
          </div>
        </div>
        <div class="row g-0">
          <!-- direccion de cliente -->
          <div class="form-group col p-3">
            <label for="direccion" class="mb-0">Direccion:</label>
            <input type="text" id="direccion" name="direccion" class="form-control" required minlength="4"
              [(ngModel)]="cliente.direccion" #direccion="ngModel">
            <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="text-danger">
              <div *ngIf="direccion.errors?.['required']">
                direccion es requerida
              </div>
              <div *ngIf="direccion.errors?.['minlength']">
                direccion deberia tener mas de 4 caracteres
              </div>
            </div>
          </div>
          <!-- localidad de cliente -->
          <div class="form-group col p-3">
            <label for="localidad" class="mb-0">Localidad:</label>
            <input type="text" id="localidad" name="localidad" class="form-control" required minlength="4"
              [(ngModel)]="cliente.localidad" #localidad="ngModel">
            <div *ngIf="localidad.invalid && (localidad.dirty || localidad.touched)" class="text-danger">
              <div *ngIf="localidad.errors?.['required']">
                localidad es requerida
              </div>
              <div *ngIf="localidad.errors?.['minlength']">
                localidad deberia tener mas de 4 caracteres
              </div>
            </div>
          </div>
        </div>
        <div class="row g-0">
          <!-- correo de cliente -->
          <div class="form-group col p-3">
            <label for="correo" class="mb-0">Correo:</label>
            <input type="email" id="correo" name="correo" class="form-control" required minlength="4"
              [(ngModel)]="cliente.correo" #correo="ngModel">
            <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="text-danger">
              <div *ngIf="correo.errors?.['required']">
                correo es requerido
              </div>
              <div *ngIf="correo.errors?.['minlength']">
                correo deberia tener mas de 4 caracteres
              </div>
            </div>
          </div>
          <!-- telefono de cliente -->
          <div class="form-group col p-3">
            <label for="telefono" class="mb-0">telefono:</label>
            <input type="text" id="telefono" name="telefono" class="form-control" required minlength="4"
              [(ngModel)]="cliente.telefono" #telefono="ngModel">
            <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="text-danger">
              <div *ngIf="telefono.errors?.['required']">
                telefono es requerido
              </div>
              <div *ngIf="telefono.errors?.['minlength']">
                telefono deberia tener mas de 4 caracteres
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-around">
          <button type="button" (click)="cancelar()" class="btn btn-danger d-flex align-items-center">
            <mat-icon>clear</mat-icon>
          </button>
          <button type="button" (click)="actualizar()" [disabled]="clienteForm.invalid"
            class="btn btn-success d-flex align-items-center">
            <mat-icon>done_outline</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </section>
</main>